<!-- splash lading page -->
<div id="splash">
  <div id="splash-content">
    <i class="ton-li-flag-1 lg" id="circle-lg"></i>
  </div>
  <div id="splash-title">Goal Keeper</div>
  <div id="splash-sub">your financial goaltender</div>
</div>

<!-- home page -->
<div class="budget">
  <div class="title">
    Today's remaining budget
  </div>
  <div class="amount-left">
    <span>$102</span>/144
  </div>
  <hr/>
  <div class="weekly-goal">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <div id="this-week">This week</div>
    <span class="glyphicon glyphicon-chevron-right"></span>
    <div class="row center-block">
        <div class="circle"><span>M</span></div>
        <div class="circle"><span>T</span></div>
        <div class="circle"><span>W</span></div>
        <div class="circle"><span>T</span></div>
        <div class="circle"><span>F</span></div>
        <div class="circle"><span>S</span></div>
        <div class="circle"><span>S</span></div>
    </div>
  </div>
  <div class="current-goal">
    <div class="frame">
      <div class="shader">current goal</br>
        <div id="current-title">
          Vacation to San Diego!
        </div>
      </div>
      <div class="shader" id="goal-target">
        <div id="due">Due: <span>08/30/15</span></div>
        <div id="budget">Budget: <span>$1,000</span></div>
      </div>
      <%= image_tag("sd.jpg") %>
    </div>
  </div>
  <div class="clear-nav">
</div>
