<div class="budget">
  <div class="title">
    Today's remaining budget
  </div>
  <div class="amount-left">
    <span>$102</span>/144
  </div>
  <div class="weekly-goal">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <div id="thisweek">This week</div>
    <span class="glyphicon glyphicon-chevron-right"></span>
    <div class="row center-block">
        <div class="circle"><span>M</span></div>
        <div class="circle"><span>T</span></div>
        <div class="circle"><span>W</span></div>
        <div class="circle"><span>T</span></div>
        <div class="circle"><span>F</span></div>
        <div class="circle"><span>S</span></div>
        <div class="circle"><span>S</span></div>
    </div>
  </div>
  <hr/>
  <div class="next-goal">
    <div class="title">
      Next goal
    </div>
    <div class="row">
      <div class="col-xs-10 col-sm-6 center-block">
        <div class="frame">
          <div class="thumbnail">
            <%= image_tag("sd.jpg") %>
          </div>
          <div class="row">
            <h3>Vacation to San Diego!</h3>
          </div>
          <div class="row">
            <div id="due">Due: <span>08/30/15</span></div>
            <div id="budget">Budget: <span>$1,000</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
