<div class="budget">
  <div class="title">
    Today's remaining budget
  </div>
  <div class="amount-left">
    <span>$102</span>/144
  </div>
  <div class="weekly-goal">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <div id="thisweek">This week</div>
    <span class="glyphicon glyphicon-chevron-right"></span>
    <div class="row center-block">
        <div class="circle"><span>M</span></div>
        <div class="circle"><span>T</span></div>
        <div class="circle"><span>W</span></div>
        <div class="circle"><span>T</span></div>
        <div class="circle"><span>F</span></div>
        <div class="circle"><span>S</span></div>
        <div class="circle"><span>S</span></div>
    </div>
  </div>
  <hr/>
</div>
