#piechart {
	padding-bottom: 1em;
	border-bottom: 1px solid $gray;
	margin: 0 auto;
}

.expense-line {
	display: block;
	padding: 0.2em;
	border-top: 1px solid $gray;
	&:hover {
		background: $primary;
	}
}

.category-line {
	display: block;
	border-bottom: 1px solid $gray;
	padding: 0;
	span {
		text-align: left;
		font-size: 1.5em;
	}
	#auto-category {
		color: $blue;
		text-align: right;
	}
	#food-category {
		color: $turquoise;
		text-align: right;
	}
	#entertainment-category {
		color: $dark-gray;
		text-align: right;
	}
	#bill-category {
		color: $green;
		text-align: right;
	}
	#investment-category {
		color: $primary;
		text-align: right;
	}
	#misc-category {
		color: $yellow;
		text-align: right;
	}
}


textarea {
	width: 80%;
	resize: none;
}

select.select {
	width: 80%;
}

/* show */

.expense-title, .expense-amount, .expense-category {
	font-size: 2em;
	color: $gray;
	padding-top: 0.2em;
	padding-bottom: 1em;
}
