/* _goal */

#page-title {
	text-align: center;
	color: $primary;
	font-size: 2em;
	margin: 0.8em;
}

.goal-img {
	text-align: center;
	position: relative;
	img{
		width: 100%;
		height: auto;
		margin: 0px;
	}
}

#stick-to-bottom {
	position: relative;
	bottom: 0;
	right: 0;
}

/* _form */

.simple_form.new_goal, .edit_goal {
	text-align: center;
	margin: 20px auto;
}

.simple_form label {
	display: block;
	color: white;
	margin: 5px 0;
	font-weight: 100;
	letter-spacing: 0.2em;
}

.simple_form input {
	@include border-radius(2px);
  margin-bottom: 10px;
  border: none;
  padding: 10px 5px;
  width: 80%;
}

.simple_form select {
	@include border-radius(2px);
  margin-bottom: 10px;
  border: none;
  padding: 10px 5px;
}

button.fp__btn {
	margin: 10px auto;
}