/* _goal */

#page-title {
	text-align: center;
	color: $primary;
	font-size: 2em;
	margin: 0.8em;
}

.goal-img {
	text-align: center;
	position: relative;
	img{
		width: 100%;
		height: auto;
		margin: 0px;
	}
}

#stick-to-bottom {
	position: relative;
	bottom: 0;
	right: 0;
}


/* _form */

.simple_form.new_goal, .edit_goal {
	text-align: center;
	margin: 20px auto;
}

.simple_form label {
	display: block;
	color: $gray;
	margin: 5px 0;
	font-weight: 100;
	letter-spacing: 0.2em;
}

.simple_form input {
	@include border-radius(2px);
	border: 1px solid $primary;
  margin-bottom: 10px;
  padding: 10px 5px;
  width: 80%;
}

.simple_form select {
  margin-bottom: 10px;
  height: 3em;
	background: none;
	border: 1px solid $primary;
  padding: 10px 5px;
  width: 25%;
}

button.fp__btn {
	@include border-radius(0);
	margin: 10px auto;
	width: 80%;
}


/* _list */

.place-holder {
	background-image: image-url("placeholder.png");
	width: 100%;
	}
