/* application */

body{
	background: $darkgray;
}

hr {
	width: 80%;
	margin: 0px auto;
}


/* _header */

.header {
	color: white;
	background: $primary;
	text-align: center;
	text-transform: uppercase;
	font-size: 36px;
	font-weight: 200;
	padding: 20px 0px;
	letter-spacing: 4px;
}

.fa-flag.fa-logo {
	@include border-radius(50%);
	border: 2px solid white;
	padding: 5px;
}


/* _nav */

.nav {
	width: 90%;
	margin: 20px auto 0px auto;
	display: block;
	font-family: 'fontello';
}

.nav-btn {
	@include border-radius(2px);
	float: left;
	font-size: 30px;
	color: white;
	background: #979797;
	width: 23%;
	padding: 5px 0;
	margin: 1%;
	display: inline-block;
	text-align: center;
}
