/* application */

body{
	max-width: 100%;
	margin-top: 0;
	text-align: center;
}

hr {
	width: 80%;
	margin: 0px auto;
}


/* _header */

.header {
	color: $primary;
	text-align: center;
	text-transform: uppercase;
	font-size: 36px;
	font-weight: 200;
	padding: 10px 0px;
	letter-spacing: 4px;
	border-bottom: 1px solid $gray;
}

#circle {
	@include border-radius(50%);
	border: 1px solid $primary;
	padding: 5px;
}


/* _nav */

.nav {
	width: 100%;
	display: block;
	font-family: 'fontello';
	position: fixed;
	bottom: 0;
	right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
	background: $primary;
}

.nav-btn {
	float: left;
	font-size: 30px;
	color: white;
	width: 23%;
	padding: 5px 0;
	margin: 1%;
	display: inline-block;
	text-align: center;
	:hover {
		color: $dark-gray;
	}
	a {
		color: white;
	}
}
