/* pages */

.budget {
	text-align: center;
	color: white;
	.title {
		padding: 20px 0 10px 0;
	}
	.amount-left {
		font-size: 64px;
		span {
			color: $primary;
		}
	}
}

.weekly-goal {
	padding: 10px 0px;
	#this-week {
		display: inline;
		padding: 0px 50px;
	}
	.row.center-block {
		white-space: nowrap;
		.circle {
			@include border-radius(50%);
			display: inline-block;
			background: white;
			width: 30px;
			height: 30px;
			margin: 20px 10px 10px 10px;
			span {
				color: gray;
				line-height: 30px;
				vertical-align: middle;
			}
		}
	}
}

.col-xs-10.col-sm-6.center-block {
	float: none;
	.frame {
		@include border-radius(5px);
		background: white;
		padding-bottom: 5px;
		text-align: center;
		.thumbnail{
			margin: 0px;
			padding: 20px;
		}
		.row  h3 {
			margin: 3px 0px;
			white-space: nowrap;
			color: $primary;
		}
		#due, #budget{
			display: inline;
			color: gray;
			width: 50%;
			font-size: 12px;
			padding: 10%;
		}
	}
}


