/* splash page */

#splash {
	background: linear-gradient(-180deg, #61CBBC 0%, #98C73D 100%);
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 2147483647;
	text-align: center;
	vertical-align: middle;
	color: white;
}

#splash-content {
	display: block;
	margin-top: 12em;
}

.ton-li-flag-1.lg {
	font-size: 6em;
	vertical-align: middle;
}

#circle-lg {
	@include border-radius(50%);
	border: 3px solid white;
	padding: 0.5em;
}

#splash-title {
	display: block;
	margin-top: 3em;
	font-size: 2em;
	letter-spacing: 0.2em;
}

#splash-sub {
	display: block;
	font-size: 1.2em;
	font-weight: 100;
	letter-spacing: 0.125em;
}


/* pages */

.budget {
	text-align: center;
	color: $gray;
	.title {
		padding: 20px 0 10px 0;
	}
	.amount-left {
		font-size: 64px;
		span {
			color: $primary;
		}
	}
}

.weekly-goal {
	padding: 10px 0px;
	#this-week {
		display: inline;
		padding: 0px 50px;
	}
	.row.center-block {
		white-space: nowrap;
		.circle {
			@include border-radius(50%);
			border: 1px solid $gray;
			display: inline-block;
			background: white;
			width: 30px;
			height: 30px;
			margin: 20px 10px 10px 10px;
			span {
				color: gray;
				line-height: 30px;
				vertical-align: middle;
			}
		}
	}
}

.current-goal {
	color: white;
}

.frame {
	text-align: center;
	position: relative;
	img{
		width: 100%;
		height: auto;
		margin: 0px;
	}
}

#current-title {
	font-size: 2em;
}

.shader {
  position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
  background: rgba(0, 0, 0, 0.5);
  padding: 4px 8px;
  color: white;
}

#goal-target {
	position: absolute;
	bottom: 0;
	margin-bottom: 0;
}

#due, #budget {
	display: inline;
	color: white;
	font-size: 1em;
	padding-left: 10%;
	padding-right: 10%;
	margin-bottom: 0;
}


/* calendar */

#calendar {
	width: 90%;
	margin: 0 auto;
	th {
		text-align: center;
		padding: 2em 0;
		background: $primary;
	}
	td {
		text-align: center;
		padding: 1em;
	}
}

.td-circle-pass {
	border-radius: 1em;
	background-color: $primary;
	color: white;
}
.td-circle-fail {
	border-radius: 1em;
	background-color: $red;
	color: white;
}