<div id="page-title">
  All Transactions
</div>

<%= render partial: 'expenses', locals: { expenses: @expenses } %>

<%= link_to "new expense item", new_expense_path, class: "flat-btn" %>

<%= link_to "new earning item", new_earning_path, class: "flat-btn" %>
<div class="clear-nav"></div>