<div id="page-title">
  Expense Detail
</div>

Description:
<div class="expense-title">
  <%= @expense.description %>
</div>
Amount:
<div class="expense-amount">
  <%= @expense.amount %>
</div>
Category:
<div class="expense-category">
  <%= @expense.category %>
</div>
<%= link_to "edit expense", edit_expense_path(@expense), class: "flat-btn" %>

<div class="clear-nav"></div>