<div id="page-title">
  Expense Detail
</div>

<div class="expense-title">
 <%= @expense.description %>
 <%= @expense %>
  <%= link_to "edit expense", edit_expense_path(@expense), class: "flat-btn" %>
</div>
<div class="clear-nav"></div>