<div id="page-title">
  Statistics
</div>
<div id="piechart">
  <%= image_tag('piechart.png') %>
</div>



<%= link_to "create new transaction", new_expense_path, class: "flat-btn" %>

<%= link_to "see all transactions", expenses_path, class: "flat-btn", id: "stick-to-bottom" %>