<div id="page-title">
  Income Detail
</div>

Description:
<div class="expense-title">
  <%= @income.description %>
</div>
Amount:
<div class="expense-amount">
  <%= @income.amount %>
</div>
Pay Period:
<div class="expense-category">
  <%= @income.increment_interval %>
</div>
<%= link_to "edit income", edit_income_path(@income), class: "flat-btn" %>

<div class="clear-nav"></div>