<div class="nav">
  <div class="nav-btn"><%= link_to '<i class="ton-li-flag-1"></i>'.html_safe, root_path %></div>
  <div class="nav-btn"><i class="ton-li-chart-4"></i></div>
  <div class="nav-btn"><%= link_to '<i class="ton-li-equalizer-2"></i>'.html_safe, goals_path %></div>
  <div class="nav-btn"><i class="ton-li-people-6"></i></div>
</div>