<div class="nav">
  <div class="nav-btn"><%= fa_icon "flag" %></div>
  <div class="nav-btn"><%= fa_icon "bar-chart" %></div>
  <div class="nav-btn"><i class="icon-sliders"></i></div>
  <div class="nav-btn"><i class="icon-user"></i></div>
</div>